@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mountains of Christmas', serif;
}

body {
    background: linear-gradient(#a2000a, #cf0000);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

header{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    height: 510px ;
    display: flex;
    justify-content: space-between;
}

#santa {
    width: auto;
    height: 250px;
    animation: animacionSanta 4s ease-in-out infinite;
}

#moon {
    position: relative;
    top: -200px;
    right: -200px;
    width: auto;
    height: 500px;
}


.countdown {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#timer {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

#timer>article {
    text-align: center;
}

#timer span {
    font-size: 2em;
    display: block;
}

.smalltext {
    font-size: 0.8em;
    margin-top: -10px;
}


.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: snowfall linear infinite;
}

/* ========== */
/* ==FOOTER== */
/* ========== */

footer {
    position: absolute;
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.footer__figure {
    width: 100%;
    display: flex;
}

.footer__figure img {
    width: 50%;
    height: auto;
    animation: move-images 1s infinite linear;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes snowfall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes animacionSanta {
    0% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(-25px);
    }
}


@keyframes move-images {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}