@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mountains of Christmas', serif;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#a2000a, #cf0000);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


.countdown {
    text-align: center;
}

.figure__santa {
    position: absolute;
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.figure__moon {
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}

#santa {
    animation: animacionSanta 4s ease-in-out infinite;
}

#moon {
    position: relative;
    top: -200px;
    right: -200px;
    width: auto;
    height: 600px;
}

.figure__trees {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
}

#trees {
    width: 100%;
    position: relative;
    animation: desplazamiento 10s linear infinite;
}


#timer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#timer>article {
    text-align: center;
}

#timer span {
    font-size: 2em;
    display: block;
}

.smalltext {
    font-size: 0.8em;
    margin-top: -10px;
}


.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

@keyframes animacionSanta {
    0% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(-25px);
    }
}

@keyframes desplazamiento {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}